body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}

.board{
    display: grid;
    width: 500px;
    height: 500px;
    border: 3px solid rgb(68, 66, 66);
    margin-top: 10px;
    margin-bottom: 20px;
}

.grid{
    border: 1px solid white;
}